<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679388121448-c6cli8s3nllrt28h383r867n2d1i5n47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679388121448-c6cli8s3nllrt28h383r867n2d1i5n47</string>
	<key>API_KEY</key>
	<string>Add Your Key </string>
	<key>GCM_SENDER_ID</key>
	<string>679388121448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.100daysofcode.codeAssist</string>
	<key>PROJECT_ID</key>
	<string>code-assist-pr</string>
	<key>STORAGE_BUCKET</key>
	<string>code-assist-pr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679388121448:ios:502fb254cbdd5d21372edd</string>
</dict>
</plist>